package ${config.queryPackage};

import java.io.Serializable;
import java.util.Date;


/**
 * ${outputor.className}查询对象
 */
public class ${outputor.className}Query{
	##属性
	#foreach($column in $outputor.fieldUnits)
		#set($type=${column.type})
        #set($length=${column.length})
		#set($fieldName=${column.fieldName})
		#set($columnName=${column.columnName})
		#set($comment=${column.comment})
		#if($column.isPk=="1" || $column.fieldName=="status")
			#if($column.fieldName=="status")

	private ${type} ${fieldName};
			#end

	private ${type}[] ${fieldName}Array;
		#elseif("$column.type"=="BigDecimal" || "$column.type"=="Date")

	private ${type} ${fieldName}From;

	private ${type} ${fieldName}To;
        #else

    private ${type} ${fieldName};
		#end
		#set($comment='')				
	#end

	##gettor settor
	#foreach($column in $outputor.fieldUnits)
		#set($type=${column.type})
        #set($length=${column.length})
		#set($fieldName=${column.fieldName})			
		#set($columnName=${column.columnName})
		#set($comment=${column.comment})
		#if($column.isPk=="1" || $column.fieldName=="status")
			#if($column.fieldName=="status")

    public $column.type get${column.fieldNameFirstCharUpcase}() {
        return ${column.fieldName};
	}
            

    public void set${column.fieldNameFirstCharUpcase}(${column.type} ${column.fieldName}) {
    	this.${column.fieldName} = ${column.fieldName};
    }
    			#end

    public ${type}[] get${column.fieldNameFirstCharUpcase}Array() {
    	return ${column.fieldName}Array;
    }

    public void set${column.fieldNameFirstCharUpcase}Array(${column.type}... ${column.fieldName}Array) {
    	this.${column.fieldName}Array = ${column.fieldName}Array;
    }
		#elseif("$column.type"=="BigDecimal" || "$column.type"=="Date")

    public $column.type get${column.fieldNameFirstCharUpcase}From() {
    	return ${column.fieldName}From;
    }
        

    public void set${column.fieldNameFirstCharUpcase}From(${column.type} ${column.fieldName}From) {
    	this.${column.fieldName}From = ${column.fieldName}From;
    }
			

    public $column.type get${column.fieldNameFirstCharUpcase}To() {
    	return ${column.fieldName}To;
    }
        

    public void set${column.fieldNameFirstCharUpcase}To(${column.type} ${column.fieldName}To) {
    	this.${column.fieldName}To = ${column.fieldName}To;
    }
		#else

    public $column.type get${column.fieldNameFirstCharUpcase}() {
    	return ${column.fieldName};
    }
        

    public void set${column.fieldNameFirstCharUpcase}(${column.type} ${column.fieldName}) {
    	this.${column.fieldName} = ${column.fieldName};
    }
		#end		
		#set($comment=${column.comment})
	#end

}
