<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

#set($objectName=$outputor.objectName)
#set($name=$outputor.name)
#set($tableAlias=$outputor.tableAlias)
#set($param=$outputor.param)

<mapper namespace="${config.mapperPackage}.${outputor.className}Mapper">
	<resultMap id="${objectName}Map" type="${objectName}">
		#foreach($column in $outputor.fieldUnits)
			#set($be = "<id")
			#if($column.isPk!="1")
				#set($be = "<result")
			#end

		$be column="${column.columnName}" property="${column.fieldName}"/>
		#end

	</resultMap>



	<select id="load" parameterType="${outputor.pkIbatisDataType}" resultMap="${objectName}Map" >
		select * from ${name} where ${outputor.pkColumnName}=#{${outputor.pkFieldName}}
	</select>




    <insert id="insert" parameterType="${objectName}">
        insert into
		${name}(
		#foreach($column in $outputor.fieldUnits)

		<if test="${column.fieldName} != null">,$column.columnName</if>
		#end

        )values(
		#foreach($column in $outputor.fieldUnits)

		<if test="${column.fieldName} != null">,#{${column.fieldName},jdbcType=$column.jdbcDataType}</if>
		#end

		)
    </insert>

    <update id="update" parameterType="${objectName}">
        update ${name}
        <set>
			#foreach($column in $outputor.fieldUnits)

		<if test="${column.fieldName} != null">${column.columnName}=#{${column.fieldName},jdbcType=$column.jdbcDataType},</if>
			#end
        </set>
        where  ${outputor.pkColumnName}=#{${outputor.pkFieldName}}
    </update>


    <select id="delete" parameterType="${outputor.pkIbatisDataType}" >
    	delete from ${name} where  ${outputor.pkColumnName}=#{${outputor.pkFieldName}}
    </select>


</mapper>